* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-image: url('../images/image1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
  
  .tagline {
    font-size: 0.9rem;
    letter-spacing: 4px;
    color: #a87b07;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: #c98d1a;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #a87b07;
    margin-bottom: 40px;
  }
  
  .predict-btn {
    background-color: rgba(255, 255, 255, 0.9);
    color: #b69b5f;
    border: none;
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
  }
  
  .predict-btn:hover {
    background-color: #f5d492;
    color: #fff;
  }
  
  /* Rent Prediction Form Styles */
  .form-container form {
    background: #f5d492;
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgb(12, 12, 12);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #63320d;
  }
  
  .form-container input,
  .form-container select,
  .form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .form-container button {
    background-color: #63320d;
    color: white;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: green;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .title {
      font-size: 2.2rem;
    }
  
    .subtitle {
      font-size: 1rem;
    }
  
    .predict-btn {
      padding: 12px 30px;
      font-size: 0.9rem;
    }
  
    .tagline {
      font-size: 0.8rem;
      letter-spacing: 2px;
    }
  
    .form-container form {
      width: 90%;
      padding: 20px;
    }
  }
  